<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js intro</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <!-- HTML är case-insensitive så vi använder endast små bokstäver -->
        <hello :text="text"></hello>
        <ul>
            <item v-for="number in items" :key="number" :number="number"></item>
        </ul>
        <input type="text" placeholder="skriv något här..." v-model="text">
        <button @click="onClick">add</button>
    </div>
</body>
<!-- När text prop ändras så kommer även det som visas för slutanvändaren
    ändras. Text ligger i vår "Root" komponent och skickas till vår hello
    komponent. -->
<template id="hello-world-template">
    <h1>{{text}}</h1>
</template>
<template id="item-template">
    <div v-show="!isComplete">
        <li style="float:left;">
            <span v-if="!isComplete">
                {{number}}
            </span>
            <span v-else style="text-decoration: line-through;">
                {{number}}
            </span>
        </li>
        <button @click="deleteItem(number)">X</button>
        <button @click="toggleComplete">C</button>
    </div>
</template>
<script>
    const { createApp } = Vue;

    const App = {
      name: "App",
      data() {
         return {
            text: "Hello, World!",
            items: [1, 2, 3],
            counter: 4
         };
      },
      methods: {
         onClick() {
            console.log("clicked!");
            this.items.push(this.counter);
            this.counter = this.counter + 1;
         }
      }
   };

    const app = createApp(App);

    app.component('hello', {
        name: "Hello",
        props: ['text'],
        template: `#hello-world-template`
    });

    app.component('item', {
        name: "Item",
        props: ['number'],
        data() {
            return {
                isComplete: false
            };
        },
        methods: {
            deleteItem(item) {
                // Radera elementet i items arrayen på positionen eller index
                // av parametern item. Det andra argumentet till splice säger
                // att vi endast vill radera 1 element.
                
                // givet item är 2 och items är [1, 2, 3]
                this.$parent.items.splice(this.$parent.items.indexOf(item), 1);
                // efter anroppet blir items    [1,    3]
            },
            toggleComplete() {
                // Kolla ifall isComplete är true...
                if (this.isComplete == true) {
                    // ifall isComplete är true, sätt till false istället.
                    this.isComplete = false;
                } else {
                    // annars måste isComplete varit false, sätt till true istället.
                    this.isComplete = true;
                }
            }
        },
        template: `#item-template`
    });
    
    app.mount("#app");
</script>
</html>